:root {
  --primary-color: #B22222; /* Dark Red */
  --secondary-color: #FF4500; /* Fiery Orange */
  --tertiary-color: #2F2F2F; /* Dark Gray */
}

.branding-red {
    color: var(--primary-color);
}

.branding-primary {
    color: var(--primary-color);
}

.branding-red-bg {
    background-color: var(--primary-color);
}

.branding-primary-bg {
    background-color: var(--primary-color);
}

.branding-orange {
    color: var(--secondary-color);
}

.branding-secondary {
    color: var(--secondary-color);
}

.branding-orange-bg {
    background-color: var(--secondary-color);
}

.branding-secondary-bg {
    background-color: var(--secondary-color);
}

.branding-gray {
    color: var(--tertiary-color);
}

.branding-tertiary {
    color: var(--tertiary-color);
}

.branding-gray-bg {
    background-color: var(--tertiary-color);
}

.branding-tertiary-bg {
    background-color: var(--tertiary-color);
}

@font-face {
    font-family: 'Anton';
    src: url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    font-weight: normal;
    font-style: normal;
}

.branding-font-anton {
    font-family: 'Anton', sans-serif;
}

.branding-font-bebas {
    font-family: 'Bebas Neue', sans-serif;
}
